@import "../../styles/settings/colors";
@import "../../styles/settings/fonts";

.navbar-list {
  display: flex;
  column-gap: 24px;
}

.navbar-list__option {
  color: $support-1;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1.1rem;
  letter-spacing: 0.1px;
}

.navbar-list__option--active {
  color: $secondary-color;
}
